* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin: 20px;
  background-color: white;
  border: 2px solid black;
}

.gridItem {
  background-color: rgb(240, 240, 240);
  outline: 1px solid #000000;
  box-sizing: border-box;
}
